@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This is the Authorization Server. We will register three Clients</p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: aqua">
        <h2>MVC Client</h2>
        <p> Test </p>
    </div>
    <div class="col-md-4" style="background-color: blue">
        <h2>Identity Management Tool</h2>
        <p> Test </p>
    </div>
    <div class="col-md-4" style="background-color: blueviolet">
        <h2>Resource Server</h2>
        <p> Test </p>
    </div>
</div>