@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Authorization Server. We will register two Clients</p>
</div>

<div class="row" >
    <div class="col-md-4">
        <h2>WebAPI</h2>
    </div>
    <div class="col-md-4">
        <h2>Identity Management</h2>
    </div>
</div>