<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic CRUD Application - jQuery EasyUI CRUD Demo</title>
        <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
        <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
</head>
<body>
    <div style="margin:70px 0;"></div>
    <table id="dg" title="My Users" class="easyui-datagrid" style="width:700px;height:250px"
           url="/Users/GetUsers"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="Id" width="70">Id</th>
                <th field="FirstName" width="70">First Name</th>
                <th field="LastName" width="70">Last Name</th>
                <th field="Email" width="70">Email</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Add Roles</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
    </div>

    <div id="dlg" class="easyui-dialog" style="width:400px"
         closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">User Information</div>
            <div style="margin-bottom:10px">
                <input name="Id" class="easyui-textbox" required="true" label="User Id" style="width:100%" readonly="readonly">
            </div>
          
            <div style="margin-bottom:20px">
                    <select class="easyui-combogrid" id="txtRoles" style="width:100%" 
                          data-options = " panelWidth : 250,
                            multiple : true,
                            idField : 'Id',
                            textField : 'Name',
                            url : '/roles/GetRoles',
                            method : 'get',
                            value :[],
                            columns : [[
                            {field:'Id',title:'Id',width:120},
                            {field:'Name',title:'Role',width:120}
                            ]],
                            fitColumns : true,
                            label : 'Roles'"></select>
                
            </div>
            
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>
	<div id="ErrorText"></div>
    <script type="text/javascript">
          
        function saveUser() {
            var roles = $("#_easyui_textbox_input2").val();

            var id = $("input[name~='Id']").val();

            $.ajax({
                type: 'POST',
                url: "/users/AddRoles",
                data: { userid :id ,roles : roles },
                dataType: "application/json",
                error: function (jqXHR, txtStatus, errorThrown, data) {
                	document.getElementById("ErrorText").innerHTML = jqXHR.responseText;

                	console.log(jqXHR);
                },
                success: function (data) {
                	alert("success");

                }
            });
        }

        function editUser() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'Edit User');
                $('#fm').form('load', row);
            }
        }

        function destroyUser() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $.messager.confirm('Confirm', 'Are you sure you want to destroy this user?', function (r) {
                    if (r) {
                        $.post('/users/Delete', { id: row.Id }, function (result) {
                            if (result == "success") {
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    }
                });
            }
        }
    </script>
    </body>
</html>